<h2>Connect with us on our social media</h2>
<div>
  <%= link_to (icon('facebook')), "https://www.facebook.com/thesjwpodcast" %>
  <%= link_to (icon('twitter')), "https://twitter.com" %>
  <%= link_to (icon('instagram')), "https://www.instagram.com/thesjwpodcast/" %>
</div>
